.logout-container {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: auto;
    padding: 16px;
    background-color: #f7efff;
}

.logout-content {
    display: flex;
    justify-content: space-between;
}

.logout-icon.MuiSvgIcon-root {
    cursor: pointer;
    transition: 0.2s;
}

.logout-buttons {
margin: 16px;
display: flex;
gap: 16px;
justify-content: center;
}

