.main-goal-container {
    max-width: 600px;
    min-width: 300px;
}

.main-goal-duedate.MuiTypography-root {
    margin-top: 8px;
    margin-bottom: 24px;
    font-size: 0.9rem;
    color: #808080;
    font-weight: 500;
}

.subgoal-container {
    display: grid;
    gap: 16px;
    text-align: left;
    margin-top: 30px;
}
