.no-outline:focus,
.no-outline:active {
    outline: none;
}

.subgoal-card .actions {
    opacity: 0;
    transition: opacity 0.2s ease;
}

.subgoal-card:hover .actions {
    opacity: 1;
}

.button-menu {
    display: flex;
    align-items: center;
    gap: 1;
    margin-left: auto;
}