.text-box {
    display: grid;
    align-items: center;
    gap: 12px;
    grid-template-columns: 100px 1fr;
}

.icon-selector {
    display: flex;
    align-items: center;
    gap: 12px;
}

.emoji {
    font-size: 24px;
    margin-left: 8px;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}