.main-goal-list .actions {
    opacity: 0;
    transition: opacity 0.2s ease;
}

.main-goal-list:hover .actions {
    opacity: 1;
}

.menu-drawer {
    width: 250px;
}

.menu-drawer .MuiDrawer-paper {
    width: 250px;
    background-color: #f3e8ff;
}

.menu-drawer .main-goal-list .MuiListItemButton-root.Mui-selected  {
    background-color: #e9d5ff;
    border-left: 4px solid #a855f7; 
}

.list-subheader.MuiListSubheader-root {
text-align: left;
background-color: #f3e8ff;
}
